.story{
    gap: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    }
.story-card{
    display: grid;
    min-height: 250px;
    grid-template-columns: 60% 40%;
    
}
.image-holder{
    height: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    overflow: auto;
}
.image-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width: 850px){
    .story{
        display: grid;
        grid-template-columns: auto;
    }
    .story .story-card{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: start;
        height: max-content;
    }
    .story-card .image-holder{
        min-height: 200px;
        &&img{
            min-width: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}