/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .loader{
    min-width: 90dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    min-height: 80vh;
}
.custom-loader {
    width: 52px;
    height: 12px;
    --c: radial-gradient(farthest-side,#766DF4 90%,#0000);
    background: 
      var(--c) left, 
      var(--c) right;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    display: grid;
  }
  .custom-loader:before,
  .custom-loader:after {
    content: "";
    width: 12px;
    height: 12px;
    grid-area: 1/1;
    margin: auto;
    border-radius: 50%;
    transform-origin:-12px 50%;
    background: #766DF4;
    animation: d9 1s infinite linear;
  }
  .custom-loader:after {
    transform-origin:calc(100% + 12px) 50%;
    --s:-1;
    animation-delay: -.5s;
  }
  
  @keyframes d9 {
    58%,
    100% {transform: rotate(calc(var(--s,1)*1turn))}
  }

  @media screen and (max-width: 1200px) {
    .loader{
      width: 100dvh;
      height: 90dvh;
      display: grid;
      place-items: center;
    }
  }
